{% extends 'base.html' %}

{% block title %}
    Contacts
{% endblock %}

{% block content %}
    <h1>Contacts</h1>
    <ul>
        {% for contact in contacts %}
        <li>{{ contact }}</li>
        {% endfor %}
    </ul>
    <form action="http://127.0.0.1:8000/contacts" accept-charset="utf-8" method="post" style="max-width: 40vw">
        <div class="mb-3">
            <label for="email-addr" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email-addr" name="email-addr" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="theme" class="form-label">Theme</label>
            <input type="text" class="form-control" id="theme" name="theme" placeholder="theme">
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Text</label>
            <textarea class="form-control" id="text" rows="3" name="text" ></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
    </form>
{% endblock %}